# Patterns of intentionally untracked files that Git should ignore

# Python compiled files
__pycache__/

# Virtual Python Environment builder
.virtualenv/

# Django settings and SQLite3 database
praxis_settings.py
db.sqlite3

# Collected static files
collected_static/

# JavaScript tools and libraries
bower_components/
node_modules/

# Private development data
private/
